<div class="container-home">
  <div class="wrapper-info">

    <div class="stats">
      KAJSDKSAJDKAS
    </div>

    <div class="rankings">
      <div class="control-ranking">
        <button>TOP PvP</button>
        <button>TOP Pk</button>
        <button>TOP Clan</button>

      </div>
    </div>

  </div>

  <div class="config-game">

    <div class="control-game">

      <div class="select-folder">
        <button id="btnSelectFolder">Seleccionar Carpeta</button>
        <p id="folderPath">No se selecciono ninguna carpeta </p>
      </div>

      <div class="play">
        <button id="btn-play">Jugar</button>
      </div>
    </div>

    <div class="progress-container">
      <progress id="fileUpload" value="50" max="100"></progress>
    </div>

  </div>

</div>