@import url('home.css');
@import url('login.css');
@import url('register.css');
:root {
    /* Colores base */
    --dark-gray: #212121;
    --bg-dark-alt: #252525;
    --gray-dark-alt: #3d3d3d;

    --goldenrod: #DAA520;
    --gold: gold;
    --white: #ffffff;

    /* Colores de la UI */
    --main-bg: var(--dark-gray);

    /*Formularios*/
    --form-bg: var(--bg-dark-alt);
    --form-text: var(--goldenrod);
    --form-border: var(--goldenrod);
    --form-border-focus: var(--gold);
    --form-btn-bg: var(--goldenrod);
    --form-btn-bg-hover: var(--gold);
    --form-btn-text: var(--white);


    /*Navbar*/
    --navbar-bg-button:var(--bg-dark-alt);
    --navbar-bg-button-hover: var(--gray-dark-alt);

    --navbar-text:var(--goldenrod);
    --navbar-text-hover: var(--gold);

    /*Home*/
    --btn-play:var(--goldenrod);
    --btn-select-folder:var(--goldenrod);
    --bg-grill:var(--bg-dark-alt);



}
html,body {
    background-color: var(--main-bg) !important;
    overflow-y: hidden;
}
.navbar{
    height: 70px;
    width: 100%;

}
.navbar ul li {
    list-style: none;
    display: inline-block;
}
.navbar ul li button {
    background-color: var(--navbar-bg-button);
    color:var(--navbar-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.navbar ul li button:hover {
    background-color: var(--navbar-bg-button-hover);
    color: var(--navbar-text-hover);
}

.dropdown-menu {
    background-color: var(--bg-dark-alt);
    color: var(--goldenrod) !important;
    border: none;
    width: 100%;

}
.dropdown-menu li {
    width: 100%;
    text-align: center;
    
}
.dropdown-menu li a:hover {
    background-color: transparent;
}
.dropdown-menu li button {
    color: var(--goldenrod) !important;
    background-color: red;

}