@import url('home.css');

body {
    background-color: rgb(41, 41, 41);
}
.navbar {

}
.navbar ul li {
    list-style: none;
    display: inline-block;
}
.navbar ul li button {
    background-color: rgb(41, 41, 41);
    color: goldenrod;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.navbar ul li button:hover {
    background-color: rgb(61, 61, 61);
}

